@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark(&:where(.dark,.dark *))

* {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
@theme {
  --color-primary: #5044e5;
}
